.community_section {
    background-color: hsl(12, 88%, 59%);
    color: hsl(0, 0%, 98%);
    padding-top: 75px;

    button {
        background-color: hsl(0, 0%, 98%);
        color: hsl(12, 88%, 59%);
        margin-top: 32px;
    }
}