.community_section {
    background-color: hsl(12, 88%, 59%);
    color: hsl(0, 0%, 98%);
    padding-top: 75px;

    button {
        background-color: hsl(0, 0%, 98%);
        color: hsl(12, 88%, 59%);
        margin-top: 32px;
    }
}

@media (min-width: 1114px) {
    .community_section {
        padding-bottom: 0;

        .community_section__heading {
            font-size: 32px;
            line-height: 43px;
            width: 400px;
        }

        .page_link--start {
            transform: translateY(-90px);
            -webkit-transform: translateY(-90px);
            -moz-transform: translateY(-90px);
            -ms-transform: translateY(-90px);
            -o-transform: translateY(-90px);
        }
        button {
            margin-top: 16px;
        }
    }
}
