body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    line-height: 29px;
    padding: 0;
    margin: 0;
    background: hsl(0, 0%, 98%);
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li,
a {
    text-decoration: none;
}

.page_heading {
    margin: 0;
}

button, a {
    cursor: pointer;
}
.page_section {
    padding-bottom: 100px;
}

.page_section {
    padding-left: 16px;
    padding-right: 16px;
}