body {
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
    line-height: 29px;
    background-image: url(../backgrounds/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-size: 115%;
    background-position-y: -2%;
    background-position-x: -102%;
    padding: 0;
    margin: 0;
}

@media (min-width: 700px) {
    body {
        background-size: 80%;
        background-position-y: -3%;
        background-position-x: 122%;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

li,
a {
    text-decoration: none;
}

.page_heading {
    margin: 0;
}

button,
a {
    cursor: pointer;
}
 
.page_section {
    padding-bottom: 100px;
}

.page_section {
    padding-left: 16px;
    padding-right: 16px;
}

.page_container.section_container {
    text-align: center;
}

img,
svg {
    max-width: 100%;
}

@media (min-width: 1114px) {
    body {
        background-image: url(../backgrounds/bg-tablet-pattern.svg);
        background-repeat: no-repeat;
        background-position-x: 115%;
        background-position-y: -5%;
        background-size: 50%;
        padding: 0;
    }

    .header_container,
    .section_container,
    .footer_container {
        max-width: 1114px;
        margin-left: auto;
        margin-right: auto;
    }
}
