.testimonials_section {
    .section_heading {
        font-size: 32px;
    }

    img {
        max-width: 28%;
        transform: translateY(50%);
    }

    .contents_container {
        background-color: hsl(0, 0%, 98%);
        padding-top: 75px;

        h3 {
            padding-bottom: 16px;
        }

        p {
            padding-bottom: 32px;
        }
    }

    .start_button {
        margin-top: 48px;
    }
}

@media (min-width: 1114px) {
    .page_container.section_container.testimonials_section__container {
        max-width: unset;
    }

    .testimonials_section {
        padding-left: 0;
        padding-right: 0;

        .testimonials_section__header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .section_heading {
            font-size: 32px;
        }

        img {
            width: 100px;
        }

        .testimonials_section__article__container {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .testimonials_section__article {
            display: flex;
            column-gap: 32px;
        }

        .testimonials_section__article__container:last-of-type {
            display: none;
        }

        .page_link--start {
            justify-content: center;
        }
    }
}
